@tailwind base;
@tailwind components;
@tailwind utilities;

button,
.button {
  @apply flex w-full justify-center gap-2 font-semibold;
  @apply rounded-xl px-6 py-2;
}

button[type="submit"],
.submit,
button.primary {
  @apply bg-emerald-600 text-white;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.blog-container h1 {
font-size: 40px;
font-weight: 600;
line-height: 60px;
}
.blog-container a {
  color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
